.carousel-modal-img {
  width: 100%;
  border-radius: 15px;
  max-height: 200px;
  object-fit: contain;
  background: #442e3c;
  min-width: 100%;
  min-height: 201px;
  transition: 1s opacity;
}

.imageContainer {
  min-height: 166px;
  background-color: rgb(68, 46, 60);
  color: white;
  border-radius: 19px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteText {
  text-align: center;
  margin: 1rem;
  font-weight: normal;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 30px;
  color: #665959;
  max-width: 100%;
}
.datepicker-toggle p {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
.datepicker-toggle-button {
  /* position: absolute;
  left: 0;
  top: 0; */
  display: flex;
  width: 100%;
  height: 100%;
}
.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
